{% extends 'blog/base_full_width.html' %}

{% block main_area %}

<div class="card" id="aa">
    <div class="card-body">
        <div id="altText"></div>
        <div align="right">
            <a href="/about_me/" class="btn btn-primary">프로필 보기</a>
            <a href="/blog/chat/" class="btn btn-primary">대화하기</a>
        </div>

    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="card" id="field"></div>



<script>
    var data = localStorage.getItem("alertext");
    
    if(data != ''){
        document.getElementById("altText").innerHTML = data;
        add_div();
    }

    function add_div(){
        var div = document.createElement('div');
        div.innerHTML = document.getElementById('aa').innerHTML;
        ('field').append(div);
        //document.getElementById('field').append(div);
    }


    

</script>


{% endblock %}