<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <title>{% block head_title %}GROUPING{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/0d248b795e.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                Copyright &copy; GROUPING
            </p>
        </div>
    </footer>
</body>
</html>