{% extends 'blog/base.html' %}

{% block main_area %}
    <!--{% block head_title %}내 프로필{% endblock %}-->
    <div class="container my-3">
        <h1>평점 상세페이지</h1>
        <div class="card" style="max-width: 700px;">
            <h5 class="card-header">평점 [1]</h5>
            <div class="card-body">
                <p class="card-title">
                    <div class="row">
                        <div class="col-1">
                            <img src="https://media.istockphoto.com/vectors/user-avatar-profile-icon-black-vector-illustration-website-or-app-ui-vector-id1314335932?b=1&k=20&m=1314335932&s=170667a&w=0&h=GhL6_JKesOe9DBOQrK8KwkoL9HON62joyNM301xX2aE=" alt="Profile" style="width:25px; height:25px;">
                        </div>
                        <div class="col-3">
                            <p>권수현</p>
                        </div>
                        <div class="col-8">
                            <p>작성일 | 2022.05.28 AM 1:40</p>
                        </div>
                    </div>
                </p>
                <p class="card-text">참여도 : 5</p>
                <p class="card-text">수행능력 : 5</p>
                <p class="card-text">비고 : 수고하셨습니다!</p>
            </div>
        </div>

        <div class="container my-1"></div>
            
        <div class="card" style="max-width: 700px;">
            <h5 class="card-header">평점 [2]</h5>
            <div class="card-body">
                <p class="card-title">
                    <div class="row">
                        <div class="col-1">
                            <img src="https://media.istockphoto.com/vectors/user-avatar-profile-icon-black-vector-illustration-website-or-app-ui-vector-id1314335932?b=1&k=20&m=1314335932&s=170667a&w=0&h=GhL6_JKesOe9DBOQrK8KwkoL9HON62joyNM301xX2aE=" alt="Profile" style="width:25px; height:25px;">
                        </div>
                        <div class="col-3">
                            <p>윤지민</p>
                        </div>
                        <div class="col-8">
                            <p>작성일 | 2022.05.28 AM 1:42</p>
                        </div>
                    </div>
                </p>
                <p class="card-text">참여도 : 3</p>
                <p class="card-text">수행능력 : 3</p>
                <p class="card-text">비고 : 별점 3점 보통</p>
            </div>
        </div>

        <div class="row">
            <div class="col-3">

            </div>
        </div>

    </div>

    
                
{% endblock %} 