{% extends 'blog/base.html' %}

{% block main_area %}
    <!--{% block head_title %}내 프로필{% endblock %}-->
    <div class="container my-3">
        <h1>팀 지원 상세 페이지</h1>
        <div class="card" style="max-width: 700px;">
            <h4 class="card-header">팀원 구합니다!{{ t.title }}</h4>
            <div class="card-body">
                <p class="card-title">
                    <div class="row">
                        <div class="col-1">
                            <img src="https://media.istockphoto.com/vectors/user-avatar-profile-icon-black-vector-illustration-website-or-app-ui-vector-id1314335932?b=1&k=20&m=1314335932&s=170667a&w=0&h=GhL6_JKesOe9DBOQrK8KwkoL9HON62joyNM301xX2aE=" alt="Profile" style="width:25px; height:25px;">
                        </div>
                        <div class="col-3">
                            <p>닉네임{{t.person}}</p>
                        </div>
                        <div class="col-8">
                            <p>작성일 : 2022.05.27 01:52 {{t.day}}</p>
                        </div>
                    </div>
                </p>
                <p class="card-text">* 경북대 근처에서 활동 사능한 분만 받겠습니다.<br>
                    * 이미 활동 중이던 팀의 추가인원을 선발하는 것이기에 인터뷰를 진행하게 되었습니다.<br>
                    인터뷰 확인차 진행하는 것이니 부담갖지 말고 지원해 주세요~~!{{t.content}}<br><br><br><br>
                    <button class="btn btn-primary" id="demo">지원하기</button ></p>
                
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                

            </div>
        </div>

    </div>
    <br><br><br><br><br>
    

    <script>
        
        var abc='';
        localStorage.setItem("alertext" , '');

        document.getElementById("demo").addEventListener('click',myFunction);


        function myFunction() {
            const btnElement = document.getElementById('demo');
            btnElement.innerText = "지원완료";
    

            abc='ㅇㅇㅇ님이 회원님의 "팀원 모집합니다" 글에 지원하였습니다.'
            alert('팀장님에게 메세지가 전송됩니다.\nㅇㅇㅇ님이 회원님의 "팀원 모집합니다" 글에 지원하였습니다.');
            localStorage.setItem("alertext" , abc);
        }
    </script>

    
                
{% endblock %}